In [1]:
import pandas as pd
import numpy as np

In [2]:
#读取原数据表
dt2=pd.read_csv('附件2.csv')

In [3]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22213 entries, 0 to 22212
Columns: 363 entries, TICKER_SYMBOL to FLAG
dtypes: float64(353), int64(7), object(3)
memory usage: 61.5+ MB

In [4]:
#显示表的基本信息
dt2

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,ACCOUTING_STANDARDS,CURRENCY_CD,...,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,FA_TURNOVER,TFA_TURNOVER,DAYS_AP,DAYS_INVEN,TA_TURNOVER,AR_TURNOVER,FLAG
0,4019,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,8166,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,9063,3,3,2,1,A,12,1,CHAS_2007,CNY,...,1.3751,148.8938,7.4240,20.9362,15.2980,75.4337,48.4911,1.2774,3.5856,0.0
3,10083,4,4,4,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,11737,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22208,4993201,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22209,4993297,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22210,4997833,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22211,4998808,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22212,4999709,7,7,7,6,A,12,1,CHAS_2007,CNY,...,2.6656,23.0840,21.9179,0.6571,0.6256,33.6589,16.4249,0.3692,54.0618,NaN

In [9]:
# 因原表特征较多，干扰项较大，先采用挑出只有单个值的特征项来删除
u1 = dt2.nunique()
u1=u1[u1.values<10]
u1=pd.DataFrame(u1.values,u1.index,columns=['Unique'])
u1

                     Unique
ACT_PUBTIME               6
PUBLISH_DATE              6
END_DATE_REP              7
END_DATE                  6
REPORT_TYPE               1
FISCAL_PERIOD             1
MERGED_FLAG               1
ACCOUTING_STANDARDS       1
CURRENCY_CD               1
ACCRUED_EXP               1
PERPETUAL_BOND_L          7
FLAG                      2

In [7]:
# c1为dt2表每个column列的有效值的个数
c1=dt2.count()
c1=pd.DataFrame(c1.values,index=c1.index,columns=['Count'])
c1

               Count
TICKER_SYMBOL  22213
ACT_PUBTIME    22213
PUBLISH_DATE   22213
END_DATE_REP   22213
END_DATE       22213
...              ...
DAYS_AP         6505
DAYS_INVEN      6874
TA_TURNOVER     7070
AR_TURNOVER     6460
FLAG           18060

[363 rows x 1 columns]

In [10]:
# 取二者交集
u1=u1.join(c1)
u1

                     Unique  Count
ACT_PUBTIME               6  22213
PUBLISH_DATE              6  22213
END_DATE_REP              7  22213
END_DATE                  6  22213
REPORT_TYPE               1  22213
FISCAL_PERIOD             1  22213
MERGED_FLAG               1  22213
ACCOUTING_STANDARDS       1  22213
CURRENCY_CD               1  22213
ACCRUED_EXP               1      4
PERPETUAL_BOND_L          7     79
FLAG                      2  18060

In [12]:
# 取出仅有一个值的column
str_unique_1=u1.loc[u1['Unique']==1].index
str_unique_1

Index(['REPORT_TYPE', 'FISCAL_PERIOD', 'MERGED_FLAG', 'ACCOUTING_STANDARDS',
       'CURRENCY_CD', 'ACCRUED_EXP'],
      dtype='object')

In [13]:
# 删除仅有一个值的column，该column仅含一个值，作为特征项无意义
dt2.drop(str_unique_1,axis=1,inplace=True)
dt2

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,SETT_PROV,LOAN_TO_OTH_BANK_FI,TRADING_FA,NOTES_RECEIV,...,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,FA_TURNOVER,TFA_TURNOVER,DAYS_AP,DAYS_INVEN,TA_TURNOVER,AR_TURNOVER,FLAG
0,4019,3,3,2,1,6.719939e+08,NaN,NaN,NaN,1.643520e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,8166,3,3,2,1,1.010981e+09,NaN,NaN,NaN,2.155752e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,9063,3,3,2,1,5.308711e+09,NaN,NaN,NaN,1.201409e+08,...,1.3751,148.8938,7.4240,20.9362,15.2980,75.4337,48.4911,1.2774,3.5856,0.0
3,10083,4,4,4,1,3.929683e+07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,11737,3,3,2,1,1.502023e+09,NaN,NaN,NaN,2.688988e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22208,4993201,7,7,7,6,1.383177e+08,NaN,NaN,NaN,2.065400e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22209,4993297,7,7,7,6,1.650023e+09,NaN,NaN,NaN,9.172207e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22210,4997833,7,7,7,6,3.050589e+08,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22211,4998808,7,7,7,6,1.636861e+09,NaN,NaN,NaN,1.315565e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22212,4999709,7,7,7,6,8.546522e+09,NaN,NaN,616123764.4,7.125106e+08,...,2.6656,23.0840,21.9179,0.6571,0.6256,33.6589,16.4249,0.3692,54.0618,NaN

In [14]:
# 取出缺失率大于0.7的column
str_missing_rate=((dt2.isnull().sum())/dt2.shape[0])
str_missing_rate=str_missing_rate[str_missing_rate.values>0.7]
str_missing_rate

SETT_PROV              0.979291
LOAN_TO_OTH_BANK_FI    0.981948
TRADING_FA             0.815648
PREMIUM_RECEIV         0.989691
REINSUR_RECEIV         0.990006
                         ...
AP_TURNOVER            0.707108
FA_TURNOVER            0.704903
TFA_TURNOVER           0.704903
DAYS_AP                0.707153
AR_TURNOVER            0.709179
Length: 134, dtype: float64

In [15]:
# 删除缺失率大于0.7的column，因为缺失值太多，作为特征项无意义
dt2.drop(str_missing_rate.index,axis=1,inplace=True)

In [17]:
# 看看是否具有object类型的column,在学习中要删除
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22213 entries, 0 to 22212
Columns: 223 entries, TICKER_SYMBOL to FLAG
dtypes: float64(218), int64(5)
memory usage: 37.8 MB

In [18]:
# 删除dt2表格中Flag列中为NAN的所有行
dt2=dt2.drop(dt2.loc[dt2['FLAG'].isnull()].index,axis=0)
dt2

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,4019,3,3,2,1,6.719939e+08,1.643520e+08,3.451945e+08,1.039522e+07,2311657.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,8166,3,3,2,1,1.010981e+09,2.155752e+09,2.887470e+08,1.075202e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,9063,3,3,2,1,5.308711e+09,1.201409e+08,8.334355e+07,1.068590e+09,10374869.29,...,0.9032,0.1468,-26.1291,125.7371,1.3751,148.8938,7.4240,48.4911,1.2774,0.0
3,10083,4,4,4,1,3.929683e+07,NaN,3.117961e+08,1.379073e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,11737,3,3,2,1,1.502023e+09,2.688988e+07,9.517806e+08,4.157376e+07,6464811.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18055,4993201,7,7,6,5,2.598805e+08,1.944298e+06,1.482427e+08,1.409296e+07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18056,4993297,7,7,6,5,6.886827e+08,9.753354e+06,6.268778e+08,5.084645e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18057,4997833,7,7,6,5,2.116220e+08,NaN,1.445725e+08,1.553651e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18058,4998808,7,7,6,5,7.139431e+08,1.390392e+07,6.543783e+08,7.145728e+07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18059,4999709,7,7,6,5,7.248867e+09,5.780118e+08,3.247538e+09,2.734001e+08,6809886.14,...,0.5159,1.0040,11.7211,97.6004,1.6980,22.3089,21.3389,16.8706,0.3257,0.0

In [19]:
dt2.isnull().sum()

TICKER_SYMBOL         0
ACT_PUBTIME           0
PUBLISH_DATE          0
END_DATE_REP          0
END_DATE              0
                  ...
OPER_CYCLE        12248
INVEN_TURNOVER    12415
DAYS_INVEN        12416
TA_TURNOVER       12262
FLAG                  0
Length: 223, dtype: int64

In [20]:
# 用0值填充缺失值
dt2.fillna(0,inplace=True)
dt2.isnull().sum()

TICKER_SYMBOL     0
ACT_PUBTIME       0
PUBLISH_DATE      0
END_DATE_REP      0
END_DATE          0
                 ..
OPER_CYCLE        0
INVEN_TURNOVER    0
DAYS_INVEN        0
TA_TURNOVER       0
FLAG              0
Length: 223, dtype: int64

In [21]:
# 读取另一个表，筛选行业
dt1=pd.read_excel("附件1.xlsx")
dt1

           股票代码              所属行业
0        4019.0               制造业
1        4213.0               制造业
2        8166.0               制造业
3        9063.0            批发和零售业
4       10083.0   信息传输、软件和信息技术服务业
...         ...               ...
4158  4993201.0               制造业
4159  4993297.0  电力、热力、燃气及水生产和供应业
4160  4997833.0        科学研究和技术服务业
4161  4998808.0               制造业
4162  4999709.0               制造业

[4163 rows x 2 columns]

In [22]:
dt1=dt1.loc[dt1['所属行业']=='制造业']

In [23]:
dt1

           股票代码 所属行业
0        4019.0  制造业
1        4213.0  制造业
2        8166.0  制造业
5       10375.0  制造业
6       11737.0  制造业
...         ...  ...
4156  4992204.0  制造业
4157  4992858.0  制造业
4158  4993201.0  制造业
4161  4998808.0  制造业
4162  4999709.0  制造业

[2667 rows x 2 columns]

In [24]:
dt1=dt1.rename(columns={'股票代码':'TICKER_SYMBOL','所属行业':'TMT'})
dt1

      TICKER_SYMBOL  TMT
0            4019.0  制造业
1            4213.0  制造业
2            8166.0  制造业
5           10375.0  制造业
6           11737.0  制造业
...             ...  ...
4156      4992204.0  制造业
4157      4992858.0  制造业
4158      4993201.0  制造业
4161      4998808.0  制造业
4162      4999709.0  制造业

[2667 rows x 2 columns]

In [25]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2667 entries, 0 to 4162
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TICKER_SYMBOL  2667 non-null   float64
 1   TMT            2667 non-null   object
dtypes: float64(1), object(1)
memory usage: 62.5+ KB

In [26]:
# 将两表根据TICKER_SYMBOL作为关联值合并，便于后续分析
tmt_all_dt=pd.merge(dt2,dt1,on='TICKER_SYMBOL')
tmt_all_dt

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1123: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,...,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG,TMT
0,4019,3,3,2,1,6.719939e+08,1.643520e+08,3.451945e+08,10395215.35,2311657.01,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
1,4019,4,4,3,2,3.819075e+08,1.517544e+08,2.910801e+08,6944414.85,783258.82,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
2,4019,5,5,4,3,4.007627e+08,2.091605e+08,3.656868e+08,13022036.86,1080743.09,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
3,4019,6,6,5,4,2.568188e+08,3.306339e+08,6.074095e+08,12264175.43,2333133.53,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
4,4019,7,7,6,5,1.994519e+09,3.929712e+08,5.351709e+08,49915440.13,131929.93,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,4898392,7,7,7,5,9.966369e+07,8.188529e+07,2.799232e+08,4192397.48,3353990.37,...,0.5443,3.7898,100.2583,4.9557,52.9496,11.7467,30.6470,2.3072,0.0,制造业
9939,4900925,7,7,7,5,6.108651e+07,3.000253e+07,6.656943e+07,1475021.28,0.00,...,1.5367,5.8725,101.2372,2.4135,81.5598,4.4139,81.5598,1.4487,0.0,制造业
9940,4948869,7,7,7,5,3.407864e+07,1.242392e+07,4.738864e+07,3080195.87,0.00,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
9941,4955770,7,7,7,5,3.990889e+07,1.200000e+06,1.133573e+08,6473751.28,6958549.92,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业
9942,4958289,7,7,7,5,5.365622e+07,0.000000e+00,7.826347e+07,675822.06,0.00,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,制造业

In [27]:
# 合并后的表都是制造业的，股票代码与所属行业列已经没有意义，因此删除
tmt_all_dt.drop(['TICKER_SYMBOL','TMT'],axis=1,inplace=True)
tmt_all_dt

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,3,3,2,1,6.719939e+08,1.643520e+08,3.451945e+08,10395215.35,2311657.01,3584940.60,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
1,4,4,3,2,3.819075e+08,1.517544e+08,2.910801e+08,6944414.85,783258.82,7309398.61,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
2,5,5,4,3,4.007627e+08,2.091605e+08,3.656868e+08,13022036.86,1080743.09,44346654.73,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
3,6,6,5,4,2.568188e+08,3.306339e+08,6.074095e+08,12264175.43,2333133.53,44766394.09,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
4,7,7,6,5,1.994519e+09,3.929712e+08,5.351709e+08,49915440.13,131929.93,48433174.42,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,7,7,7,5,9.966369e+07,8.188529e+07,2.799232e+08,4192397.48,3353990.37,2733082.35,...,0.1460,0.5443,3.7898,100.2583,4.9557,52.9496,11.7467,30.6470,2.3072,0.0
9939,7,7,7,5,6.108651e+07,3.000253e+07,6.656943e+07,1475021.28,0.00,204747.71,...,0.7843,1.5367,5.8725,101.2372,2.4135,81.5598,4.4139,81.5598,1.4487,0.0
9940,7,7,7,5,3.407864e+07,1.242392e+07,4.738864e+07,3080195.87,0.00,1077.91,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
9941,7,7,7,5,3.990889e+07,1.200000e+06,1.133573e+08,6473751.28,6958549.92,6065781.54,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0
9942,7,7,7,5,5.365622e+07,0.000000e+00,7.826347e+07,675822.06,0.00,3366242.64,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0

In [28]:
# 选取除FLAG以外的所有列作为特征
tmt_X_dt = tmt_all_dt.iloc[:, tmt_all_dt.columns != 'FLAG']
tmt_X_dt

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,ADMIN_EXP_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER
0,3,3,2,1,6.719939e+08,1.643520e+08,3.451945e+08,10395215.35,2311657.01,3584940.60,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,4,4,3,2,3.819075e+08,1.517544e+08,2.910801e+08,6944414.85,783258.82,7309398.61,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,5,5,4,3,4.007627e+08,2.091605e+08,3.656868e+08,13022036.86,1080743.09,44346654.73,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,6,6,5,4,2.568188e+08,3.306339e+08,6.074095e+08,12264175.43,2333133.53,44766394.09,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,7,7,6,5,1.994519e+09,3.929712e+08,5.351709e+08,49915440.13,131929.93,48433174.42,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,7,7,7,5,9.966369e+07,8.188529e+07,2.799232e+08,4192397.48,3353990.37,2733082.35,...,5.5582,0.1460,0.5443,3.7898,100.2583,4.9557,52.9496,11.7467,30.6470,2.3072
9939,7,7,7,5,6.108651e+07,3.000253e+07,6.656943e+07,1475021.28,0.00,204747.71,...,23.9242,0.7843,1.5367,5.8725,101.2372,2.4135,81.5598,4.4139,81.5598,1.4487
9940,7,7,7,5,3.407864e+07,1.242392e+07,4.738864e+07,3080195.87,0.00,1077.91,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
9941,7,7,7,5,3.990889e+07,1.200000e+06,1.133573e+08,6473751.28,6958549.92,6065781.54,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
9942,7,7,7,5,5.365622e+07,0.000000e+00,7.826347e+07,675822.06,0.00,3366242.64,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [29]:
# 取FLAG列作为标签
tmt_y_dt = tmt_all_dt.iloc[:, tmt_all_dt.columns == 'FLAG']
tmt_y_dt

      FLAG
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
9938   0.0
9939   0.0
9940   0.0
9941   0.0
9942   0.0

[9943 rows x 1 columns]

In [30]:
# 取X向量集的Columns列名，因为标准化以后就没有列名了
tmt_X_dt_columns=tmt_X_dt.columns
tmt_X_dt_columns

Index(['ACT_PUBTIME', 'PUBLISH_DATE', 'END_DATE_REP', 'END_DATE',
       'CASH_C_EQUIV', 'NOTES_RECEIV', 'AR', 'PREPAYMENT', 'INT_RECEIV',
       'OTH_RECEIV',
       ...
       'ADMIN_EXP_TR', 'BTAX_SURCHG_TR', 'IT_TR', 'EBIT_TR', 'OP_TP',
       'CA_TURNOVER', 'OPER_CYCLE', 'INVEN_TURNOVER', 'DAYS_INVEN',
       'TA_TURNOVER'],
      dtype='object', length=221)

In [31]:
# 对特征向量进行标准化
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
tmt_X_dt_std = std.fit_transform(tmt_X_dt)
tmt_X_dt_std = pd.DataFrame(tmt_X_dt_std)
tmt_X_dt_std

,0,1,2,3,4,5,6,7,8,9,...,211,212,213,214,215,216,217,218,219,220
0,-1.363247,-1.363247,-1.451298,-1.532977,-0.098248,-0.095728,-0.141784,-0.171204,-0.043959,-0.171765,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
1,-0.720689,-0.720689,-0.800407,-0.823038,-0.163594,-0.102808,-0.161433,-0.175746,-0.074611,-0.164084,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
2,-0.078131,-0.078131,-0.149516,-0.113099,-0.159346,-0.070545,-0.134343,-0.167746,-0.068645,-0.087700,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
3,0.564428,0.564428,0.501375,0.596840,-0.191771,-0.002277,-0.046572,-0.168744,-0.043528,-0.086834,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
4,1.206986,1.206986,1.152266,1.306779,0.199664,0.032757,-0.072803,-0.119184,-0.087673,-0.079272,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,1.206986,1.206986,1.803157,1.306779,-0.227172,-0.142075,-0.165484,-0.179368,-0.023055,-0.173522,...,-0.010031,-0.047873,-0.018026,0.010038,0.122811,4.674900,-0.026990,0.066455,-0.027387,4.745002
9939,1.206986,1.206986,1.803157,1.306779,-0.235862,-0.171233,-0.242953,-0.182945,-0.090319,-0.178737,...,-0.009652,0.004630,0.148585,0.010053,0.124125,2.072380,-0.020357,-0.015099,-0.015493,2.827356
9940,1.206986,1.206986,1.803157,1.306779,-0.241946,-0.181112,-0.249918,-0.180832,-0.090319,-0.179157,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
9941,1.206986,1.206986,1.803157,1.306779,-0.240632,-0.187420,-0.225965,-0.176365,0.049235,-0.166649,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
9942,1.206986,1.206986,1.803157,1.306779,-0.237536,-0.188095,-0.238707,-0.183997,-0.090319,-0.172217,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629

In [32]:
tmt_X_dt_std.columns=tmt_X_dt_columns

In [33]:
tmt_X_dt_std

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,ADMIN_EXP_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER
0,-1.363247,-1.363247,-1.451298,-1.532977,-0.098248,-0.095728,-0.141784,-0.171204,-0.043959,-0.171765,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
1,-0.720689,-0.720689,-0.800407,-0.823038,-0.163594,-0.102808,-0.161433,-0.175746,-0.074611,-0.164084,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
2,-0.078131,-0.078131,-0.149516,-0.113099,-0.159346,-0.070545,-0.134343,-0.167746,-0.068645,-0.087700,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
3,0.564428,0.564428,0.501375,0.596840,-0.191771,-0.002277,-0.046572,-0.168744,-0.043528,-0.086834,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
4,1.206986,1.206986,1.152266,1.306779,0.199664,0.032757,-0.072803,-0.119184,-0.087673,-0.079272,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,1.206986,1.206986,1.803157,1.306779,-0.227172,-0.142075,-0.165484,-0.179368,-0.023055,-0.173522,...,-0.010031,-0.047873,-0.018026,0.010038,0.122811,4.674900,-0.026990,0.066455,-0.027387,4.745002
9939,1.206986,1.206986,1.803157,1.306779,-0.235862,-0.171233,-0.242953,-0.182945,-0.090319,-0.178737,...,-0.009652,0.004630,0.148585,0.010053,0.124125,2.072380,-0.020357,-0.015099,-0.015493,2.827356
9940,1.206986,1.206986,1.803157,1.306779,-0.241946,-0.181112,-0.249918,-0.180832,-0.090319,-0.179157,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
9941,1.206986,1.206986,1.803157,1.306779,-0.240632,-0.187420,-0.225965,-0.176365,0.049235,-0.166649,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629
9942,1.206986,1.206986,1.803157,1.306779,-0.237536,-0.188095,-0.238707,-0.183997,-0.090319,-0.172217,...,-0.010146,-0.059882,-0.109407,0.010011,-0.011784,-0.398387,-0.039265,-0.064189,-0.034547,-0.408629

In [34]:
# 查看y值的情况
tmt_y_dt.value_counts()

FLAG
0.0     9863
1.0       80
dtype: int64

In [44]:
# 将数据存入表格备用
tmt_X_dt_std.to_csv('制造业标准化后的特征向量集.csv')
tmt_y_dt.to_csv('FLAG标签列.csv')