In [133]:
import pandas as pd
import numpy as np

In [134]:
# 读取原始数据表
pure_dt2=pd.read_csv('pure_dt2.csv')

In [135]:
pure_dt2.drop('Unnamed: 0',axis=1,inplace=True)

In [136]:
pure_dt2

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,4019,3,3,2,1,6.719939e+08,1.643520e+08,3.451945e+08,1.039522e+07,2311657.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,8166,3,3,2,1,1.010981e+09,2.155752e+09,2.887470e+08,1.075202e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,9063,3,3,2,1,5.308711e+09,1.201409e+08,8.334355e+07,1.068590e+09,10374869.29,...,0.9032,0.1468,-26.1291,125.7371,1.3751,148.8938,7.4240,48.4911,1.2774,0.0
3,10083,4,4,4,1,3.929683e+07,NaN,3.117961e+08,1.379073e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,11737,3,3,2,1,1.502023e+09,2.688988e+07,9.517806e+08,4.157376e+07,6464811.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22208,4993201,7,7,7,6,1.383177e+08,2.065400e+06,2.356441e+08,2.378197e+07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22209,4993297,7,7,7,6,1.650023e+09,9.172207e+06,7.816458e+08,3.984439e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22210,4997833,7,7,7,6,3.050589e+08,NaN,1.865095e+08,3.632999e+06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22211,4998808,7,7,7,6,1.636861e+09,1.315565e+06,6.862857e+08,5.058011e+07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22212,4999709,7,7,7,6,8.546522e+09,7.125106e+08,3.623641e+09,4.721446e+08,NaN,...,0.4866,2.0055,13.3086,99.5662,2.6656,23.0840,21.9179,16.4249,0.3692,NaN

In [137]:
pd1=pd.read_excel('附件1.xlsx')
pd1

           股票代码              所属行业
0        4019.0               制造业
1        4213.0               制造业
2        8166.0               制造业
3        9063.0            批发和零售业
4       10083.0   信息传输、软件和信息技术服务业
...         ...               ...
4158  4993201.0               制造业
4159  4993297.0  电力、热力、燃气及水生产和供应业
4160  4997833.0        科学研究和技术服务业
4161  4998808.0               制造业
4162  4999709.0               制造业

[4163 rows x 2 columns]

In [138]:
pd1.nunique()

股票代码    4163
所属行业      19
dtype: int64

In [139]:
pd1_groups=pd1.groupby(pd1['所属行业'])
pd1_groups.count().sort_values(by='股票代码',ascending=False)

                  股票代码
所属行业
制造业               2667
信息传输、软件和信息技术服务业    343
批发和零售业             170
金融业                121
房地产业               120
电力、热力、燃气及水生产和供应业   118
交通运输、仓储和邮政业        107
建筑业                 98
采矿业                 77
水利、环境和公共设施管理业       71
科学研究和技术服务业          64
文化、体育和娱乐业           59
租赁和商务服务业            58
农、林、牧、渔业            42
综合                  16
卫生和社会工作             12
住宿和餐饮业              10
教育                   9
居民服务、修理和其他服务业        1

In [140]:
pd_tec=pd1.loc[pd1['所属行业']=='信息传输、软件和信息技术服务业']
pd_tec=pd_tec.rename(columns={'股票代码':'TICKER_SYMBOL','所属行业':'INFO'})
pd_tec

      TICKER_SYMBOL             INFO
4           10083.0  信息传输、软件和信息技术服务业
27          34130.0  信息传输、软件和信息技术服务业
28          38184.0  信息传输、软件和信息技术服务业
32          42991.0  信息传输、软件和信息技术服务业
53          73662.0  信息传输、软件和信息技术服务业
...             ...              ...
4112      4946014.0  信息传输、软件和信息技术服务业
4118      4954020.0  信息传输、软件和信息技术服务业
4128      4962126.0  信息传输、软件和信息技术服务业
4131      4965228.0  信息传输、软件和信息技术服务业
4138      4969341.0  信息传输、软件和信息技术服务业

[343 rows x 2 columns]

In [141]:
dt_info=pd.merge(pure_dt2,pd_tec,on='TICKER_SYMBOL')
dt_info.drop(['INFO','TICKER_SYMBOL'],axis=1,inplace=True)
dt_info

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1123: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,4,4,4,1,3.929683e+07,NaN,311796093.3,1379073.18,NaN,2154800.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,4,4,4,2,5.043620e+07,NaN,327737460.9,1963714.39,NaN,5574254.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,5,5,4,3,6.160123e+07,NaN,314904662.7,2582476.45,NaN,6795709.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,6,6,5,4,1.726217e+08,NaN,291214820.7,4759449.08,NaN,9801058.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,7,7,6,5,1.507982e+08,45284.2,422199282.0,10381727.20,NaN,25294895.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,7,7,7,6,1.765772e+08,100000.0,121256252.9,2085668.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1572,7,7,7,5,5.164897e+08,NaN,201455087.6,4689415.18,NaN,25239469.59,...,1.1053,4.6015,26.5029,100.1577,1.2880,67.0348,5.3703,67.0348,0.9776,0.0
1573,7,7,7,6,5.840163e+08,1305440.0,177372141.3,1711008.07,NaN,27553117.51,...,1.0750,4.1798,30.3620,101.7190,1.0492,77.4609,4.6475,77.4609,0.8261,NaN
1574,7,7,7,5,2.108556e+08,NaN,141346484.7,8266445.91,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1575,7,7,7,6,3.289343e+08,NaN,158853335.8,5124393.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
# 对原表格进行拆分，单独拆分出FLAG，为后续对特征项标准化作准备
dt_info_Flag=dt_info.iloc[:,dt_info.columns=='FLAG']
dt_info_Flag

      FLAG
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
1571   NaN
1572   0.0
1573   NaN
1574   0.0
1575   NaN

[1576 rows x 1 columns]

In [143]:
dt_info.drop('FLAG',axis=1,inplace=True)
dt_info

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,ADMIN_EXP_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER
0,4,4,4,1,3.929683e+07,NaN,311796093.3,1379073.18,NaN,2154800.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,4,4,2,5.043620e+07,NaN,327737460.9,1963714.39,NaN,5574254.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,5,4,3,6.160123e+07,NaN,314904662.7,2582476.45,NaN,6795709.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,6,5,4,1.726217e+08,NaN,291214820.7,4759449.08,NaN,9801058.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,7,6,5,1.507982e+08,45284.2,422199282.0,10381727.20,NaN,25294895.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,7,7,7,6,1.765772e+08,100000.0,121256252.9,2085668.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1572,7,7,7,5,5.164897e+08,NaN,201455087.6,4689415.18,NaN,25239469.59,...,20.7590,1.1053,4.6015,26.5029,100.1577,1.2880,67.0348,5.3703,67.0348,0.9776
1573,7,7,7,6,5.840163e+08,1305440.0,177372141.3,1711008.07,NaN,27553117.51,...,13.6277,1.0750,4.1798,30.3620,101.7190,1.0492,77.4609,4.6475,77.4609,0.8261
1574,7,7,7,5,2.108556e+08,NaN,141346484.7,8266445.91,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1575,7,7,7,6,3.289343e+08,NaN,158853335.8,5124393.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
dt_info_columns=dt_info.columns
dt_info_columns

Index(['ACT_PUBTIME', 'PUBLISH_DATE', 'END_DATE_REP', 'END_DATE',
       'CASH_C_EQUIV', 'NOTES_RECEIV', 'AR', 'PREPAYMENT', 'INT_RECEIV',
       'OTH_RECEIV',
       ...
       'ADMIN_EXP_TR', 'BTAX_SURCHG_TR', 'IT_TR', 'EBIT_TR', 'OP_TP',
       'CA_TURNOVER', 'OPER_CYCLE', 'INVEN_TURNOVER', 'DAYS_INVEN',
       'TA_TURNOVER'],
      dtype='object', length=221)

In [145]:
dt_info.fillna(0,inplace=True)
dt_info

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,ADMIN_EXP_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER
0,4,4,4,1,3.929683e+07,0.0,311796093.3,1379073.18,0.0,2154800.58,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,4,4,4,2,5.043620e+07,0.0,327737460.9,1963714.39,0.0,5574254.21,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,5,5,4,3,6.160123e+07,0.0,314904662.7,2582476.45,0.0,6795709.85,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,6,6,5,4,1.726217e+08,0.0,291214820.7,4759449.08,0.0,9801058.36,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,7,7,6,5,1.507982e+08,45284.2,422199282.0,10381727.20,0.0,25294895.63,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,7,7,7,6,1.765772e+08,100000.0,121256252.9,2085668.29,0.0,0.00,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1572,7,7,7,5,5.164897e+08,0.0,201455087.6,4689415.18,0.0,25239469.59,...,20.7590,1.1053,4.6015,26.5029,100.1577,1.2880,67.0348,5.3703,67.0348,0.9776
1573,7,7,7,6,5.840163e+08,1305440.0,177372141.3,1711008.07,0.0,27553117.51,...,13.6277,1.0750,4.1798,30.3620,101.7190,1.0492,77.4609,4.6475,77.4609,0.8261
1574,7,7,7,5,2.108556e+08,0.0,141346484.7,8266445.91,0.0,0.00,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1575,7,7,7,6,3.289343e+08,0.0,158853335.8,5124393.80,0.0,0.00,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [146]:
# 对特征向量进行标准化
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
dt_info_std=std.fit_transform(dt_info)
dt_info_std=pd.DataFrame(dt_info_std,columns=dt_info_columns)
dt_info_std

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,ADMIN_EXP_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER
0,-0.924089,-0.924089,-0.423446,-1.584278,-0.366142,-0.277589,-0.155456,-0.239501,-0.140906,-0.123341,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
1,-0.924089,-0.924089,-0.423446,-0.995960,-0.360570,-0.277589,-0.143669,-0.237914,-0.140906,-0.119035,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
2,-0.296616,-0.296616,-0.423446,-0.407642,-0.354986,-0.277589,-0.153158,-0.236235,-0.140906,-0.117497,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
3,0.330856,0.330856,0.142585,0.180676,-0.299458,-0.277589,-0.170675,-0.230327,-0.140906,-0.113713,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
4,0.958329,0.958329,0.708616,0.768994,-0.310373,-0.277173,-0.073820,-0.215067,-0.140906,-0.094202,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,0.958329,0.958329,1.274646,1.357312,-0.297480,-0.276670,-0.296348,-0.237583,-0.140906,-0.126055,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
1572,0.958329,0.958329,1.274646,0.768994,-0.127470,-0.277589,-0.237046,-0.230517,-0.140906,-0.094272,...,2.468321,0.382844,0.367163,0.611209,0.564277,1.418854,0.065721,0.029636,0.134814,2.641721
1573,0.958329,0.958329,1.274646,1.357312,-0.093696,-0.265593,-0.254854,-0.238600,-0.140906,-0.091359,...,1.512846,0.366385,0.327758,0.709844,0.575389,1.091588,0.113658,0.011838,0.187862,2.176645
1574,0.958329,0.958329,1.274646,0.768994,-0.280335,-0.277589,-0.281493,-0.220808,-0.140906,-0.126055,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328
1575,0.958329,0.958329,1.274646,1.357312,-0.221277,-0.277589,-0.268547,-0.229336,-0.140906,-0.126055,...,-0.313039,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328

In [147]:
dt_info_std['FLAG']=dt_info_Flag

In [148]:
dt_info_std

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,-0.924089,-0.924089,-0.423446,-1.584278,-0.366142,-0.277589,-0.155456,-0.239501,-0.140906,-0.123341,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
1,-0.924089,-0.924089,-0.423446,-0.995960,-0.360570,-0.277589,-0.143669,-0.237914,-0.140906,-0.119035,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
2,-0.296616,-0.296616,-0.423446,-0.407642,-0.354986,-0.277589,-0.153158,-0.236235,-0.140906,-0.117497,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
3,0.330856,0.330856,0.142585,0.180676,-0.299458,-0.277589,-0.170675,-0.230327,-0.140906,-0.113713,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
4,0.958329,0.958329,0.708616,0.768994,-0.310373,-0.277173,-0.073820,-0.215067,-0.140906,-0.094202,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,0.958329,0.958329,1.274646,1.357312,-0.297480,-0.276670,-0.296348,-0.237583,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
1572,0.958329,0.958329,1.274646,0.768994,-0.127470,-0.277589,-0.237046,-0.230517,-0.140906,-0.094272,...,0.382844,0.367163,0.611209,0.564277,1.418854,0.065721,0.029636,0.134814,2.641721,0.0
1573,0.958329,0.958329,1.274646,1.357312,-0.093696,-0.265593,-0.254854,-0.238600,-0.140906,-0.091359,...,0.366385,0.327758,0.709844,0.575389,1.091588,0.113658,0.011838,0.187862,2.176645,NaN
1574,0.958329,0.958329,1.274646,0.768994,-0.280335,-0.277589,-0.281493,-0.220808,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
1575,0.958329,0.958329,1.274646,1.357312,-0.221277,-0.277589,-0.268547,-0.229336,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN

In [149]:
dt_predict=dt_info_std.loc[dt_info_std['FLAG'].isna()]
dt_predict

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
5,0.958329,0.958329,1.274646,1.357312,-0.301804,-0.277589,0.120402,-0.199999,-0.113971,-0.075811,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
11,0.958329,0.958329,1.274646,1.357312,2.446217,0.000732,0.186343,0.065129,-0.140906,0.027260,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
17,0.958329,0.958329,1.274646,1.357312,-0.313171,-0.277589,0.418015,-0.184251,-0.140906,-0.077519,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
23,0.958329,0.958329,1.274646,1.357312,1.022741,0.291988,0.962663,-0.050054,-0.140906,0.130795,...,0.640814,0.016894,-0.009095,0.886714,4.605450,-0.033736,0.097533,0.019104,2.994750,NaN
29,0.958329,0.958329,1.274646,1.357312,-0.336414,-0.269912,-0.252536,-0.215157,-0.140906,-0.071436,...,0.053062,-0.057262,0.054074,0.387988,1.062809,0.826133,-0.055999,0.761584,1.533826,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,0.958329,0.958329,1.274646,1.357312,-0.277321,-0.277589,-0.137551,-0.237894,-0.140906,-0.104257,...,0.112598,0.070165,0.312294,0.564859,1.105430,0.534131,-0.050119,0.653161,2.652159,NaN
1569,0.958329,0.958329,1.274646,1.357312,-0.202717,-0.252720,-0.260425,-0.225849,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
1571,0.958329,0.958329,1.274646,1.357312,-0.297480,-0.276670,-0.296348,-0.237583,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN
1573,0.958329,0.958329,1.274646,1.357312,-0.093696,-0.265593,-0.254854,-0.238600,-0.140906,-0.091359,...,0.366385,0.327758,0.709844,0.575389,1.091588,0.113658,0.011838,0.187862,2.176645,NaN
1575,0.958329,0.958329,1.274646,1.357312,-0.221277,-0.277589,-0.268547,-0.229336,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,NaN

In [150]:
dt_train_and_test=dt_info_std.loc[dt_info_std['FLAG'].notna()]
dt_train_and_test

,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,INT_RECEIV,OTH_RECEIV,...,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP,CA_TURNOVER,OPER_CYCLE,INVEN_TURNOVER,DAYS_INVEN,TA_TURNOVER,FLAG
0,-0.924089,-0.924089,-0.423446,-1.584278,-0.366142,-0.277589,-0.155456,-0.239501,-0.140906,-0.123341,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
1,-0.924089,-0.924089,-0.423446,-0.995960,-0.360570,-0.277589,-0.143669,-0.237914,-0.140906,-0.119035,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
2,-0.296616,-0.296616,-0.423446,-0.407642,-0.354986,-0.277589,-0.153158,-0.236235,-0.140906,-0.117497,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
3,0.330856,0.330856,0.142585,0.180676,-0.299458,-0.277589,-0.170675,-0.230327,-0.140906,-0.113713,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
4,0.958329,0.958329,0.708616,0.768994,-0.310373,-0.277173,-0.073820,-0.215067,-0.140906,-0.094202,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566,0.958329,0.958329,1.274646,0.768994,-0.298970,-0.277589,-0.195211,-0.240365,-0.140906,-0.104457,...,0.007596,0.171999,0.171160,0.564379,1.392404,0.231320,-0.016580,0.318067,3.253535,0.0
1568,0.958329,0.958329,1.274646,0.768994,-0.202201,-0.234532,-0.297702,-0.241680,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
1570,0.958329,0.958329,1.274646,0.768994,-0.324728,-0.272994,-0.313848,-0.237571,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0
1572,0.958329,0.958329,1.274646,0.768994,-0.127470,-0.277589,-0.237046,-0.230517,-0.140906,-0.094272,...,0.382844,0.367163,0.611209,0.564277,1.418854,0.065721,0.029636,0.134814,2.641721,0.0
1574,0.958329,0.958329,1.274646,0.768994,-0.280335,-0.277589,-0.281493,-0.220808,-0.140906,-0.126055,...,-0.217564,-0.062813,-0.066178,-0.148595,-0.346299,-0.242496,-0.102599,-0.206260,-0.359328,0.0

In [151]:
dt_predict.to_csv('predict_信息传输软件和信息技术服务业.csv')
dt_train_and_test.to_csv('train_and_test_信息传输软件和信息技术服务业.csv')